/* navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px 6px;
}

/* Home section */

#home{
    height: 370px;
    flex-direction: column;
}
#home::before{
    height: 400px;
}

#home p{
    font-size: 13px;
    padding: 0;
}

/* services */
#services{
    flex-direction: column;
}





/* client section */

#clients{
    
    flex-wrap:  wrap;

}

#clients img{
    width: 40px;
    padding: 0 2px;
}




/* Contact section */



/* footer */




/* Utility Classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 15px;
     padding: 4px 8px;
}